registry=https://nexus.codep.inetum.world/repository/npm-plm-se-group/
//nexus.codep.inetum.world/repository/npm-plm-se-group/:_authToken=NpmToken.b5624e57-cbbf-3524-848f-3ccfce6884fb

email=thomas.lechevalier.ext@inteum.com
always-auth=true
//nexus.codep.inetum.world/repository/npm-plm-se-group/:_auth=dGxlY2hldmFsaWVyOnBVOGRIQlRqZGE=
