/* to avoid text overlapping on menu on top of Gid columns */
.e-contextmenu-wrapper ul, .e-contextmenu-container ul {
    min-width: 220px;
}

.e-popup.e-popup-open.e-dialog {
    margin-left: 135px    /* left: 50px; */
}

/* This will place the drop area to the right of the 'Columns menu' in a GridComponent table */
/* You may need to remove that if it affects othert drag & drop components */
.e-grid .e-groupdroparea,
.e-grid .e-groupdroparea .e-grouped .e-hover {
    position: absolute !important;
    top: 0;
    left: 900px !important;
    right: 900px !important;
    padding-left: 15px !important;
    text-align: left !important;
    z-index: 10 !important;
    width: 20% !important;
}
.e-gridcontent {
    overflow-x: auto;
}


/* On the GridComponent with allowPaging, this will place the mention '1 of 10 pages (345 items) */
.e-pager div.e-parentmsgbar {
    float: left !important;
    margin-right: 80px;
}

/* Table pager always visible even when scrolling horizontally */
/* .e-grid .e-pager {
    position: fixed;
    margin-top: 15px;
} */

/* To allow text in Gird to display content into multiple lines rather than hidding end of line */
/* .e-grid.e-responsive .e-rowcell, .e-grid.e-responsive .e-headercelldiv {
    white-space: wrap;
} */