
/* To align the GridComponent toolbar items to the left */
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-right {
    left: 5px;
}

.e-popup.e-popup-open.e-dialog {
    margin-left: 135px    /* left: 50px; */
}

/* This will place the drop area to the right of the 'Columns menu' in a table */
.e-grid .e-groupdroparea {
    position: absolute;
    top: 0;
    left: 180px !important;
    padding-left: 15px !important;
    text-align: left !important;
    z-index: 60;
    width: 90% !important;
}