
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";

/* to avoid text overlapping on menu on top of Gid columns */
.e-contextmenu-wrapper ul, .e-contextmenu-container ul {
    min-width: 220px;
}

.e-popup.e-popup-open.e-dialog {
    margin-left: 135px    /* left: 50px; */
}

/* This will place the drop area to the right of the 'Columns menu' in a GridComponent table */
/* You may need to remove that if it affects othert drag & drop components */
.e-grid .e-groupdroparea,
.e-grid .e-groupdroparea .e-grouped .e-hover {
    position: absolute !important;
    top: 0;
    left: 900px !important;
    right: 900px !important;
    padding-left: 15px !important;
    text-align: left !important;
    z-index: 10 !important;
    width: 28vw !important;
}
.e-gridcontent {
    overflow-x: auto;
}


/* On the GridComponent with allowPaging, this will place the mention '1 of 10 pages (345 items) */
.e-pager div.e-parentmsgbar {
    float: left !important;
    margin-right: 80px;
}


.sidebar-container {
  position: fixed;
  /* background-color: yellow; */
  display: flex;
  width: 99%;
  margin-top: 65px;
  margin-left: -8px;
  margin-bottom: 20px;
  
}

.sidebar-items {
  flex: 1 0 200px;
  background-color: #00205b;
  color:aliceblue;
  height: 100%;
  padding-left: 10px;
  height: 100vh;
  &.sidebar-collapsed {
      transform: translateX(-80%);
  } 
}

.sidebar-items-right-aligned {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px
}

.sidebar-content {
  width: 100%;
  height: 100%;
  margin-left: 8px;
  &.is-full-width {
    margin-left: -150px;
  }
}

.sidebar-content-columns-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 4;
    margin-top: 18px;
    margin-left: 5px;
}

.sidebar-content-columns-nitems {
    margin-top: -5px;
}


.e-menu-wrapper ul .e-menu-item, .e-menu-container ul .e-menu-item {
    height: 32px;
    line-height: 32px;

}


.e-menu-wrapper.e-popup.e-menu-popup, .e-menu-container.e-popup.e-menu-popup {
    border-radius: 5px; /* Adjust as needed */
}

.e-menu-wrapper ul .e-menu-item, .e-menu-container ul .e-menu-item {
    border-radius: 5px; /* Adjust as needed */
}
